@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  min-width: 1170px;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #565C66;
  background-color: #FEAFC3;
  margin: 0;
}

*,*::after,*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 2px solid darkblue;
}

.page-header {
  display: flex;

}

.navigation {
  display: flex;
  padding: 24px 0;
}

.page-header-link {
  margin-right: 16px;
}

.page-header-logo {
  fill: #2D3440;
}

.navigation-information-list, .navigation-user-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation-information-list {
  margin-right: 200px;
}

.navigation-information-item:not(:last-child) {
  margin-right: 1px;
}

.navigation-user-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-phone-number {
  margin-right: 18px;
}

.navigation-information-link, .navigation-user-link {
  color: #2D3440;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.navigation-information-link {
  padding: 8px 16px;
  border-radius: 26px;
}

.navigation-information-link:hover, .navigation-user-link:hover {
  background-color: rgba(252, 252,252, 0.5);
}

.navigation-information-link:focus, .navigation-user-link:focus {
  border: 2px solid #2D3440;
  background-color: rgba(252, 252,252, 0.5);
}

.navigation-information-link:active, .navigation-user-link:active {
  background-color: #FCFCFC;
  border: transparent;
}

.navigation-user-link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 6px 16px;
  border-radius: 26px;
  display: flex;
  align-items: center;
}

.contact-phone-number {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.25;
  color: #2D3440;
  text-decoration: none;
}

.navigation-search {
  background-color: rgba(252, 252, 252, 0.3);
  padding: 7px;
  border-radius: 50%;
  display: flex;
}

.navigation-search-icon, .navigation-user-icon {
  fill: #000000;
}

.navigation-user-icon {
  margin-right: 9px;
}

.navigation-search-wrapper {
  display: none;
}

.nav-profile-wrapper {
  display: none;
}

.third-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #2D3440;
  margin: 0;
}

.nav-cart-wrapper {
  display: none;
}

/*--main--*/

.button {
  padding: 12px 32px;
  border-radius: 26px;
  box-shadow:  0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.button-more {
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-more:hover {
  background-color: #FCFCFC;
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.button-more:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.subscribe-button {
  background-color: #FF2F64;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #FCFCFC;
}

.subscribe-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 4px solid #FF2F64;
  color: #2D3440;
}

.subscribe-button:focus {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.text {
  margin: 0;
}

.slider {
  display: flex;
  flex-direction: column;
  padding: 21px 0 80px;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.44;
  color: #2D3440;
}

.slider-title {
  font-size: 36px;
}

.slider-text {
  margin: 0 0 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #2D3440;

}

.button-left, .button-right {
  background-color: #FCFCFC;
  opacity: 0.3;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
}

.slider-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-list, .social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  display: flex;
}

.social-link-icon {
  fill: #FCFCFC;
}

/*--promo--*/

.promo {
  margin: 0 0 80px;
}

.main-promo-title {
  text-align: center;
  padding: 0 300px 56px;
}

.promo-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  position: relative;
}

.first-promo, .second-promo {
  list-style-type: none;
  margin: 0;
  background-color: #FF7799;
  border-radius: 16px;
  color: #2D3440;
}

.first-promo {
  padding: 40px 209px 40px 40px;
  background-image: url("../images/index/berries.png");
  background-repeat: no-repeat;
  background-position: bottom right 5%;
}

.second-promo {
  padding: 40px 236px 40px 40px;
  background-image: url("../images/index/marshmallow.png");
  background-repeat: no-repeat;
  background-position: bottom right 2%;
}

.promo-title {
  margin: 0 0 16px;
}

.promo-text {
  margin: 0 0 32px;
}

/*--popular--*/

.popular {
  margin: 0 0 80px;
}

.popular-title {
  padding: 0 300px 56px;
  margin: 0 0 56px;
  text-align: center;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-item {
  background-color: #FCFCFC;
  padding: 0 40px 28px;
  border-radius: 8px;
}

.catalog-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.catalog-item-img {
  margin: -51px auto 16px;
  display: block;
}

.item-name {
  margin: 0 0 8px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #2D3440;
}

.item-description {
  text-align: center;
  margin: 0 0 16px;
}

.item-button {
  background-color: #FF2F64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  position: relative;
  cursor: pointer;
}

.cart-icon {
  fill: #FCFCFC;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
}

.cart-icon:hover {
  fill: #000000;
}

.item-button:focus {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.item-button:active {
  background-color: #B9B9B9;
  border: none;
}

.cart-icon:active {
  fill: #000000;
  opacity: 0.6;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #2D3440;
}

/*--about--*/

.about {
  padding: 24px;
  margin: 0 0 80px;
  background-image: url("../images/index/background-about.png");
  background-repeat: no-repeat;
}

.about-background {
  background-color: #FCFCFC;
  margin: 0;
  padding: 56px 40px;
  border-radius: 16px;
}

.about-title {
  text-align: center;
  margin-bottom: 56px;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 33px;
  row-gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-item {
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: top left;
}

.item-eskimo {
  background-image: url("../images/icons/eskimo.svg");
}

.item-cow {
  background-image: url("../images/icons/cow.svg");
}

.item-leaf {
  background-image: url("../images/icons/leaf.svg");
}

.item-thermometer {
  background-image: url("../images/icons/thermometer.svg");
}

.about-text {
  margin: 0;
}

/*--wrapper--*/

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 76px;
  gap: 30px;
}

.article {
  background-image: url("../images/index/background-article.png");
  background-repeat: no-repeat;
  padding: 32px 235px 63px 32px;
}

.article-link {
  text-decoration: none;
}

.article-text {
  margin: 0 0 12px;
}

/*--subscribe--*/

.subscribe {
  background-image: url("../images/index/background-subscribe.png");
  background-repeat: no-repeat;
  padding: 6px;
}

.subscribe-wrapper {
  background-color: #FCFCFC;
  border-radius: 16px;
 /* padding: 26px 22px 26px 26px;*/
  padding: 24px 20px;
}

.subscribe-text {
  padding: 0 0 42px;
}

.subscribe-field {
  width: 332px;
  height: 48px;
  margin-right: 20px;
  padding: 14px 16px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #B9B9B9;
}

/*--delivery--*/

.delivery {
  display: flex;
  align-items: center;
  margin: 0 0 80px;
  background-image: url("../images/index/background-delivery.png");
  background-repeat: no-repeat;
  padding: 64px;
}

.delivery-wrapper {
  margin: 0 135px 0 0;
}

.delivery-title {
  margin-bottom: 24px;
}


.appointment-form {
  padding: 40px 40px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;

}

.appointment-text {
  margin-bottom: 32px;
}

.appointment-wrapper {
  display: flex;
  margin: 0 0 25px;
}

.appointment-form-field {
  margin: 0;
}

.field:hover {
  outline: 1px solid #2D3440;
}

.field:focus {
  outline: 2px solid #2D3440;
}



.appointment-date {
  width: 117px;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #B9B9B9;
}

.form-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2D3440;
  margin-bottom: 8px;
}

.tooltip {
  position: absolute;
  margin-left: 6px;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}

.tooltip-toggle {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.tooltip-img {
  fill: #2D3440;
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  padding: 10px 8px;
  background: #FCFCFC;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  width: 162px;
}

.appointed-phone {
  width: 287px;
  padding: 14px 16px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #B9B9B9;
}

.appointment-form-address {
  margin: 0 0 32px;
}


.information-button-address {
  display: none;
  padding: 10px 8px;
  background-color: #FCFCFC;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  font-size: 12px;
  line-height: 1.33;
  color: #565C66;
  width: 162px;
}

.appointment-field {
  width: 420px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 16px;
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #B9B9B9;
}

/*--contacts--*/

.contacts {
  padding: 64px 763px 64px 64px;
  margin: 0;
  background-image: url("../images/index/background-contacts.png");
  background-repeat: no-repeat;
}

.contacts-wrapper {

  padding: 40px 40px 36px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contact-text {
  margin-bottom: 12px;
}

.contact-address {
  margin-bottom: 24px;
  text-align: left;
}

.contact-phone {
  text-align: left;
}

.contacts-link {
  text-decoration: none;
  color: #2D3440;

}

.contact-second-text {
  margin-bottom: 28px;
}

/*--footer--*/

.page-footer {
  display: flex;
  margin: 0 auto;
  padding: 48px 0;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  margin: 0 300px 0 0;
  padding: 0;
}

.footer-information-list, .footer-about-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-information-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 8px 2px;
  font-size: 14px;
  line-height: 1.43;
  margin: 0 200px 0 0;
}

.footer-information-item {
  padding-left: 23px;
}

.footer-information-item-first {
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center left;

}

.footer-information-link {
  text-decoration: none;
  color: #2D3440;
}

.footer-information-link-first {
  font-weight: 700;
}

.footer-about-list {
  color: #2D3440;
}

.copyright-text {
  font-size: 12px;
  line-height: 1.33;
}

.footer-copyright-link {
  color: #2D3440;

}


/*--catalog-header--*/

.nav-catalog-wrapper {
  display: none;
}

.catalog-information-list {
  margin: 0 170px 0 0;
}

.navigation-active {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.navigation-active:hover {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.nav-catalog-list {
  list-style-type: none;
  min-width: 138px;
  min-height: 198px;
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 16px 16px 22px;
}


.nav-catalog-item-new {
  border-bottom: 1px solid #B9B9B9;
}

.nav-cart-list {
  padding: 0;
}

/*--catalog-main--*/
/*--breadcrumbs--*/

.breadcrumbs {
  padding: 0 0 40px;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 16px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #2D3440;
}

.breadcrumbs-link-active {
  text-decoration: none;
}

/*--filter--*/

.filter {
  margin: 0 0 99px;
}

.filter-wrapper {
  display: flex;
}

.filter-alignment {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  height: 36px;
}

.sorting-container {
  width: 196px;
  padding: 8px 16px;

}

.filter-form {
  display: flex;
}

.filter-inner-group {
  height: 24px;
  border: none;
}

.filter-inner-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 16px;
}

.button-additional {
  padding: 8px 32px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}


/*--catalog--*/

.catalog {
  padding: 0 0 16px;
  margin: 0 0 41px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 91px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*--pagination--*/

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding: 0 0 80px;
}

.button-show-more {
  justify-self: center;
  grid-column: 2/3;
  text-decoration: none;
}



.pagination-list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
  line-height: 1.25;
  color: #2D3440;
  margin: 0;
  justify-self: end;
}

.pagination-item:not(:last-child) {
  margin: 0 1px 0 0;
}

.pagination-button {
  padding: 2px 8px;
  text-decoration: none;
  color: #2D3440;
}

.pagination-button-img {
  display: flex;
  align-items: center;
  fill: #2D3440;
}

.pagination-button-img-before {
  opacity: 0.3;
  margin-right: 22px;
}

.pagination-button-active {
  background-color: #FCFCFC;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.pagination-button-img-next {
  margin-left: 30px;
}


/*--catalog-footer--*/

.catalog-footer {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

